# Database Credentials
database_username=postgres
database_password=postgres_password
database_url=jdbc:postgresql://localhost:5432/stoxy

# JWT Credentials
jwtSecretKey=your_jwt_secret_here
jwtCookieName=your_cookie_name_here

# OAuth2 Credentials
google_auth_clientId=your_google_client_id
google_auth_clientSecret=your_google_client_secret

# Redis Credentials
redis_host=127.0.0.1
redis_port=6379
redis_username=default
redis_password=

# Upstox Credentials
upstox_analytics_token=your_upstox_token_here

# FrontendUrl
frontend_url= localhost:5173